body{
    background: rgb(126,30,126);
    background: linear-gradient(90deg, rgba(126,30,126,0.8) 10%, rgba(253,187,45,1) 100%);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: larger rgba(126,30,126,1) 10%;
}

.header{
    margin: 10px 15%;
    background: rgb(255, 255, 255, 0.2);
    border: black solid 2px;
    padding: 15px;
    border-radius: 15px;
}

.menu{
    background: rgb(255, 255, 255, 0.6);
    text-align: left;
    margin: 10px 15%;
    border: black solid 2px;
    padding: 15px;
    border-radius: 15px;
}

.menu li a{
    text-decoration: none;
    color: black;
}

.menu li a:hover{
    background-color: black;
    color: whitesmoke;
}

.menu li{
    padding: 0.2em;
}

img{
    width: 50%;
}

.header a{
    color: black;
    text-decoration: none;
}

.header a:hover{
    background-color: black;
    color: whitesmoke;
}

.content{
    background: whitesmoke;
    text-align: left;
    margin: 10px 15%;
    border: black solid 2px;
    padding: 10px 35px 35px;
    border-radius: 15px;
}

.backToTop{
    text-decoration: none;
    color: black;
}

.backToTop:hover{
    background-color: black;
    color: whitesmoke;
}

.underSection{
    margin: 0 30px;
}

.underUnderSection{
    margin: 0 55px;
}