body{
    background: rgb(126,30,126);
    background: linear-gradient(90deg, rgba(126,30,126,0.8) 10%, rgba(253,187,45,1) 100%);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: larger;
}

.page{
    display: inline-block;
    border: black 2px solid;
    border-radius: 15px;
    padding: 15px;
    background-color: whitesmoke;
}

a{
    color: black;
    text-decoration: none;
}

.content p{
    font-weight: bolder;
}

.countries li a{
    display: inline-block;
}

.countries a:hover{
    background-color: black;
    color: whitesmoke;
}

li{
    padding: 2px;
}

ul{
    list-style: none;
    right: 15px;
    position: relative;
}

.gitlab-button:hover{
    background: rgb(126,30,126);
    color: whitesmoke;
}
